@import './../../../assets/scss';

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: $fw-bold;
  padding: 2rem;
  background-color: $clr-green-400;
  border-radius: 4rem;
  box-shadow: $bs-card;

  h4 {
    text-transform: capitalize;
  }
}

.types { background-color: $clr-green-400;}
.locations { background-color: $clr-yellow-400;}
.moves {background-color: $clr-blue-400;}
.favorites {background-color: $clr-red-350;}