// Colors : https://flowbite.com/docs/customize/colors/

// COLORS
$clr-blue--100:hsl(211, 94%, 94%);
$clr-blue--200:hsl(213, 94%, 88%);
$clr-blue--300:hsl(215, 98%, 82%);
$clr-blue--400:hsl(217, 93%, 72%);
$clr-blue--500:hsl(218, 93%, 61%);
$clr-blue--600:hsl(220, 89%, 53%);
$clr-blue--700:hsl(221, 79%, 48%);
$clr-blue--800:hsl(223, 68%, 37%);
$clr-blue--900:hsl(225, 54%, 30%);

$clr-red--100: hsl(0, 77%, 95%);
$clr-red--200: hsl(0, 83%, 91%);
$clr-red--300: hsl(0, 83%, 84%);
$clr-red--400: hsl(0, 91%, 74%);
$clr-red--500: hsl(0, 84%, 63%);
$clr-red--600: hsl(0, 75%, 51%);
$clr-red--700: hsl(0, 74%, 45%);
$clr-red--800: hsl(0, 69%, 36%);
$clr-red--900: hsl(0, 61%, 29%);

$clr-green--100: hsl(154, 61%, 92%);
$clr-green--200: hsl(155, 63%, 84%);
$clr-green--300: hsl(156, 61%, 70%);
$clr-green--400: hsl(158, 60%, 48%);
$clr-green--500: hsl(160, 84%, 34%);
$clr-green--600: hsl(161, 92%, 25%);
$clr-green--700: hsl(163, 93%, 22%);
$clr-green--800: hsl(164, 93%, 17%);
$clr-green--900: hsl(166, 97%, 14%);

$clr-gray--100: hsl(220, 14%, 96%);
$clr-gray--200: hsl(220, 13%, 91%);
$clr-gray--300: hsl(216, 12%, 84%);
$clr-gray--400: hsl(218, 11%, 65%);
$clr-gray--500: hsl(220, 9%, 46%);
$clr-gray--600: hsl(215, 14%, 34%);
$clr-gray--700: hsl(217, 19%, 27%);
$clr-gray--800: hsl(215, 28%, 17%);
$clr-gray--900: hsl(221, 39%, 11%);