.spinner {
  opacity: 0.5;
  animation: rotate 1.8s ease-in-out infinite;
} 

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  
  90% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}