@import '../../../assets/scss';

.pokemon-detail {
  position: relative;
  height: 100%;
  color: $clr-white-400;
}

.content {
  padding: $pd-page-layout;
  height: 100vh;

  .pokemon-img, .type-badges {
    z-index: 1;
  }

  .title {
    display: flex;
    align-items: center;
    text-shadow: $ts-normal;

    &-img {
      margin-right: 2rem;
      rotate: -45deg;
      border-radius: 50%;
      box-shadow: $bs-icon;
    }

    &-name {
      font-size: $fs-big;
      font-weight: $fw-bold;
      margin-right: 1rem;
      max-width: 20rem;
    }
    &-id {
      font-size: $fs-normal;
      font-weight: $fw-bold;
    }
  }

  &-top {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('../../../assets/img/backgrounds/pokeball-bg.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    .pokemon-img {
      image-rendering: pixelated;
      width: 28rem;
    }

    .type-badges {
      display: flex;
      width: 100%;
      justify-content: center;
      gap: 2rem;
    }
  }

}

.bg-white {
  position: absolute;
  bottom: -42%;
  width: 100%;
  height: 50%;
  background: $clr-white-400;
  background: linear-gradient(0deg, $clr-white-400 70%, rgba($clr-white-400, 0.2) 100%);
  border-radius: 50%;
  scale: 3.5;
}