@import '../../../assets/scss';

.pokemon-detail {
  position: relative;
  height: 100%;
  color: $clr-white-400;
}

.content {
  padding: $pd-page-layout;
  height: 100vh;

  .pokemon-img, 
  .type-badges,
  .pokemon-tabs,
  .pokemon-tab {
    z-index: 1;
  }

  .title {
    display: flex;
    align-items: center;
    text-shadow: $ts-normal;

    &-img {
      margin-right: 2rem;
      rotate: -45deg;
      border-radius: 50%;
      box-shadow: $bs-icon;
    }

    &-name {
      font-size: $fs-big;
      font-weight: $fw-bold;
      margin-right: 1rem;
      max-width: 20rem;
    }
    &-id {
      font-size: $fs-normal;
      font-weight: $fw-bold;
    }
  }

  &-top {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('../../../assets/img/backgrounds/pokeball-bg.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    .pokemon-img {
      image-rendering: pixelated;
      width: 28rem;
    }

    .pokemon-shadow {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      box-shadow: 0px 0px 100px 77px rgba(0,0,0,0.4);
      position: absolute;
    }

    .type-badges {
      display: flex;
      width: 100%;
      justify-content: center;
      gap: 2rem;
    }
  }

  .pokemon-tabs {
    color: $clr-black-400;
    font-size: $fs-normal;
    display: flex;
    justify-content: center;

    .pokemon-tab {
      padding: 1rem 2rem;
      border: none;
      background-color: $clr-beige-400;
    }

    :first-child{
      border-radius: 4rem 0 0 4rem;
    }
    :last-child {
      border-radius: 0rem 4rem 4rem 0rem;
    }
  }

}

.bg-white {
  position: absolute;
  bottom: -42%;
  width: 100%;
  height: 50%;
  background: $clr-white-400;
  background: linear-gradient(0deg, $clr-white-400 70%, rgba($clr-white-400, 0.2) 100%);
  border-radius: 50%;
  scale: 3.5;
}