<app-layout>
    <section class="pokemon-detail" [ngClass]="getBgColorClass(types)">
      <div class="content">
        <div *ngIf="!isLoading" class="title">
          <img class="title-img" src="./../../assets/img/icons/pokeball-icon.svg" alt="pokeball-icon">
          <h4 class="title-name">{{pokemon?.name | titlecase}}</h4>
          <h4 class="title-id">{{formatId(pokemon?.id)}}</h4>
        </div>
        <div class="content-top">
          <app-spinner *ngIf="isLoading; else pokemonInfo" class="spinner"></app-spinner>
          <ng-template #pokemonInfo>
            <div class="pokemon-shadow"></div>
            <img class="pokemon-img" [src]="imgUrl" [alt]="pokemon?.name | titlecase">
            <div class="type-badges">
              <app-type-badge 
                *ngFor="let type of types"
                [type]="type"></app-type-badge>
            </div>
          </ng-template>
        </div>
        <div class="pokemon-tabs" *ngIf="!isLoading">
          <div class="pokemon-tab tab-selected about">About</div>
          <div class="pokemon-tab status">Status</div>
          <div class="pokemon-tab moves">Moves</div>
        </div>
      </div>
      <div class="bg-white"></div>
    </section>
</app-layout>
