@import '../../../assets/scss';

.container {
  position: relative;
  padding: 3rem;
  overflow: hidden;
  color: $clr-white-400;
  border-radius: 6rem;
  box-shadow: $bs-tag;
  display: flex;
  align-items: center;

  img {
    position: absolute;
    right: 0;
    max-width: 7.1rem;
    opacity: 0.2;
  }
  h4 {
    text-transform: capitalize;
  }
}