// FONT FAMILY
$ff-main: 'Montserrat', sans-serif;

// FONT WEIGHT
$fw-bold: 600;
$fw-normal: 500;
$fw-light: 300;

// FONT SIZE
$fs-small: 1.4rem;
$fs-normal: 1.6rem;
$fs-big: 2rem;
$fs-huge: 3.2rem;