@import './../../../../assets/scss';

.about-description {
  font-style: italic;
  font-weight: $fw-light;
  line-height: 1.2em;
  margin-bottom: 2rem;
}

.about-measures {
  display: grid;
  row-gap: 1rem;
  margin-bottom: 3rem;
  
  div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.about-strong-against,
.about-weak-against {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  margin-bottom: 1rem;
}

.about-height-label,
.about-weight-label,
.about-strong-against,
.about-weak-against {
  color: $clr-gray-600;
}