<div class="about-container">
  <p class="about-description">{{pokemonFlavorText}}</p>
  <div class="about-measures">
    <div class="about-height">
      <p class="about-height-label">Height</p>
      <p>{{pokemon?.height | foots}}</p>
      <p>{{pokemon?.height | meters}}</p>
    </div>
    <div class="about-weight">
      <p class="about-weight-label">Weight</p>
      <p>{{pokemon?.weight | pounds}}</p>
      <p>{{pokemon?.weight | kilograms}}</p>
    </div>
  </div>
  <div class="about-damage-relations">
    <p class="strong-against-label">Strong against</p>
    <div class="strong-against">
      <app-type-badge-icon
       *ngFor="let rel of damageRelations?.strongAgainst"
       [type]="rel"></app-type-badge-icon>
    </div>
    <p class="weak-against-label">Weak against</p>
    <div class="weak-against">
      <app-type-badge-icon
        *ngFor="let rel of damageRelations?.weakAgainst"
        [type]="rel"></app-type-badge-icon>
    </div>
  </div>
</div>