@import './../../../../assets/scss';

.about-description {
  font-style: italic;
  font-weight: $fw-light;
  line-height: 1.2em;
  margin-bottom: 2rem;
}

.about-measures {
  display: grid;
  row-gap: 1rem;
  margin-bottom: 3rem;
  div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.about-damage-relations {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  row-gap: 3rem;
  .strong-against,
  .weak-against {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 0.5rem;
  }
}

.about-damage-relations,
.about-height-label,
.about-weight-label {
  color: $clr-gray-600;
}