@import '../../assets/scss/variables';
.container {
  width: 100%;
  border: none;
  background-color: $clr-gray--50;
  padding: 1rem 0.5rem;

  .search-bar {
    color: transparent;
    border: none;
    width: 100%;
    font-family: $ff-poppins;
    font-size: $fs-25;
    color: $clr-gray--900;
  }

}
