<app-layout>
  <section class="types">
    <div class="content">
      <nav class="nav">
        <a routerLink="..">
          <img 
            class="arrow-left"
            src="./../../assets/img/icons/chevron-left.svg" 
            alt="Left arrow icon">         
        </a>
        <h1>Types</h1>
      </nav>
      <app-search-bar></app-search-bar>
      <div class="type-tags">
        <a 
          *ngFor="let type of typeTags"
          [routerLink]="type.text">
          <app-type-tag
            [text]="type.text"
            [color]="type.color"
            [iconPath]="type.iconPath"></app-type-tag>
        </a>
      </div>
    </div>
  </section>
</app-layout>
