$clr-white-400:  #F9F9F9;

$clr-beige-400: #FCF6DE;
$clr-beige-600: #F7F0D8;

$clr-red-300: #E37C75;
$clr-red-400: #EC5757;

$clr-green-400: #A7DB8D;

$clr-gray-400: #B6B6B6;
$clr-gray-600: #848484;

$clr-black-400: #303030;

$clr-electric-400: #F4D760;
$clr-electric-600: #DEB25D;
$clr-electric-grad:linear-gradient(180deg, #F4D760 0%, #F8D030 100%);

$clr-fire-400: #F5AC78;
$clr-fire-600: #DE835D;
$clr-fire-grad: linear-gradient(180deg, #F5AC78 0%, #F08030 100%);

$clr-grass-400: #A7DB8D;
$clr-grass-600: #88AA77;
$clr-grass-grad: linear-gradient(180deg, #A7DB8D 0%, #78C850 100%);

$clr-water-400: #9DB7F5;
$clr-water-600: #7383AA;
$clr-water-grad: linear-gradient(180deg, #9DB7F5 0%, #6890F0 100%);;

$clr-bug-400: #C6D16E;
$clr-bug-600: #9FA85B;
$clr-bug-grad: linear-gradient(180deg, #C6D16E 0%, #A8B820 100%);

$clr-dark-400: #A29288;
$clr-dark-600: #7D716A;
$clr-dark-grad: linear-gradient(180deg, #A29288 0%, #705848 100%);

$clr-dragon-400: #A27DFA;
$clr-dragon-600: #8166C2;
$clr-dragon-grad: linear-gradient(180deg, #A27DFA 0%, #7038F8 100%);

$clr-fairy-400: #F0B0BE;
$clr-fairy-600: #E07B93;
$clr-fairy-grad: linear-gradient(180deg, #F0B0BE 0%, #EE99AC 100%);

$clr-fight-400: #D67873;
$clr-fight-600: #922E28;
$clr-fight-grad: linear-gradient(180deg, #D67873 0%, #C03028 100%);

$clr-fly-400: #C6B7F5;
$clr-fly-600: #9080BE;
$clr-fly-grad: linear-gradient(180deg, #C6B7F5 0%, #A890F0 100%);

$clr-ghost-400: #A292BC;
$clr-ghost-600: #584773;
$clr-ghost-grad: linear-gradient(180deg, #A292BC 0%, #705898 100%);

$clr-ground-400: #E3C675;
$clr-ground-600: #C5A858;
$clr-ground-grad: linear-gradient(180deg, #E3C675 0%, #DEAF2D 100%);

$clr-normal-400: #A0A29F;
$clr-normal-grad: linear-gradient(180deg, #A0A29F 0%, #717171 100%);

$clr-psychic-400: #FA92B2;
$clr-psychic-600: #D54974;
$clr-psychic-grad: linear-gradient(180deg, #FA92B2 0%, #F85888 100%);

$clr-ice-400: #BCE6E6;
$clr-ice-600: #638D8D;
$clr-ice-grad: linear-gradient(180deg, #BCE6E6 0%, #98D8D8 100%);

$clr-poison-400: #C183C1;
$clr-poison-600: #682A68;
$clr-poison-grad: linear-gradient(180deg, #C183C1 0%, #9C3E9C 100%);

$clr-steel-400: #D1D1E0;
$clr-steel-600: #787887;
$clr-steel-grad: linear-gradient(180deg, #D1D1E0 0%, #B8B8D0 100%);

$clr-rock-400: #D1C17D;
$clr-rock-600: #786824;
$clr-rock-deg: linear-gradient(180deg, #D1C17D 0%, #B8A038 100%);

$clr-hp-400: #FF5959;
$clr-atk-400: #F5AC78;
$clr-def-400: #FAE078;
$clr-satk-400: #9DB7F5;
$clr-sdef-400: #A7DB8D;
$clr-spd-400: #FA92B2;





















