@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,600;1,300;1,500;1,600&display=swap');
@import './assets/scss';

html {
  font-size: 62.5%;
}

body {
  background-color: $clr-black-400;
  font-family: $ff-main;
  font-weight: $fw-normal;
  font-size: $fs-normal;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.bg-electric-400 {background-color: $clr-electric-400;}
.bg-fire-400 {background-color: $clr-fire-400;}
.bg-grass-400 {background-color: $clr-grass-400;}
.bg-water-400 {background-color: $clr-water-400;}
.bg-bug-400 {background-color: $clr-bug-400;}
.bg-dark-400 {background-color: $clr-dark-400;}
.bg-dragon-400 {background-color: $clr-dragon-400;}
.bg-fairy-400 {background-color: $clr-fairy-400;}
.bg-fighting-400 {background-color: $clr-fighting-400;}
.bg-flying-400 {background-color: $clr-flying-400;}
.bg-ghost-400 {background-color: $clr-ghost-400;}
.bg-ground-400 {background-color: $clr-ground-400;}
.bg-normal-400 {background-color: $clr-normal-400;}
.bg-psychic-400 {background-color: $clr-psychic-400;}
.bg-ice-400 {background-color: $clr-ice-400;}
.bg-poison-400 {background-color: $clr-poison-400;}
.bg-steel-400 {background-color: $clr-steel-400;}
.bg-rock-400 {background-color: $clr-rock-400;}

.bg-electric-600 {background-color: $clr-electric-600;}
.bg-fire-600 {background-color: $clr-fire-600;}
.bg-grass-600 {background-color: $clr-grass-600;}
.bg-water-600 {background-color: $clr-water-600;}
.bg-bug-600 {background-color: $clr-bug-600;}
.bg-dark-600 {background-color: $clr-dark-600;}
.bg-dragon-600 {background-color: $clr-dragon-600;}
.bg-fairy-600 {background-color: $clr-fairy-600;}
.bg-fighting-600 {background-color: $clr-fighting-600;}
.bg-flying-600 {background-color: $clr-flying-600;}
.bg-ghost-600 {background-color: $clr-ghost-600;}
.bg-ground-600 {background-color: $clr-ground-600;}
.bg-normal-600 {background-color: $clr-normal-600;}
.bg-psychic-600 {background-color: $clr-psychic-600;}
.bg-ice-600 {background-color: $clr-ice-600;}
.bg-poison-600 {background-color: $clr-poison-600;}
.bg-steel-600 {background-color: $clr-steel-600;}
.bg-rock-600 {background-color: $clr-rock-600;}

.bg-electric-grad {background: $clr-electric-grad;}
.bg-fire-grad {background: $clr-fire-grad;}
.bg-grass-grad {background: $clr-grass-grad;}
.bg-water-grad {background: $clr-water-grad;}
.bg-bug-grad {background: $clr-bug-grad;}
.bg-dark-grad {background: $clr-dark-grad;}
.bg-dragon-grad {background: $clr-dragon-grad;}
.bg-fairy-grad {background: $clr-fairy-grad;}
.bg-fighting-grad {background: $clr-fighting-grad;}
.bg-flying-grad {background: $clr-flying-grad;}
.bg-ghost-grad {background: $clr-ghost-grad;}
.bg-ground-grad {background: $clr-ground-grad;}
.bg-normal-grad {background: $clr-normal-grad;}
.bg-psychic-grad {background: $clr-psychic-grad;}
.bg-ice-grad {background: $clr-ice-grad;}
.bg-poison-grad {background: $clr-poison-grad;}
.bg-steel-grad {background: $clr-steel-grad;}
.bg-rock-grad {background: $clr-rock-grad;}