@import './assets/scss/variables.scss';

body {
  background: $clr-blue--900;
  background: -webkit-linear-gradient(to left, $clr-blue--700, $clr-blue--800, $clr-blue--900);  
  background: linear-gradient(to left, $clr-blue--700, $clr-blue--800, $clr-blue--900); 
}