@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,600;1,300;1,500;1,600&display=swap');
@import './assets/scss';

html {
  font-size: 62.5%;
}

body {
  background-color: $clr-black-400;
  font-family: $ff-main;
  font-weight: $fw-normal;
  font-size: $fs-normal;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.bg-electric-400 {background-color: $clr-electric-400;}
.bg-fire-400 {background-color: $clr-fire-400;}
.bg-grass-400 {background-color: $clr-grass-400;}
.bg-water-400 {background-color: $clr-water-400;}
.bg-bug-400 {background-color: $clr-bug-400;}
.bg-dark-400 {background-color: $clr-dark-400;}
.bg-dragon-400 {background-color: $clr-dragon-400;}
.bg-fairy-400 {background-color: $clr-fairy-400;}
.bg-fighting-400 {background-color: $clr-fighting-400;}
.bg-flying-400 {background-color: $clr-flying-400;}
.bg-ghost-400 {background-color: $clr-ghost-400;}
.bg-ground-400 {background-color: $clr-ground-400;}
.bg-normal-400 {background-color: $clr-normal-400;}
.bg-psychic-400 {background-color: $clr-psychic-400;}
.bg-ice-400 {background-color: $clr-ice-400;}
.bg-poison-400 {background-color: $clr-poison-400;}
.bg-steel-400 {background-color: $clr-steel-400;}
.bg-rock-400 {background-color: $clr-rock-400;}