@import '../../assets/scss/variables';

.menu-items {
  background-color: $clr-red--200;
}

.logo {
  display: flex;
  align-items: center;

  .pokeball {
    width: 2rem;
    margin-right: 1rem;
  }
}

.title {
  margin-top: 10rem;
  font-size: $fs-39;
}