@import '../../assets/scss';

.home {
  position: relative;
  height: 100%;
  background-color: $clr-red-400;
  color: $clr-white-400;
}

.content {
  padding: $pd-page-layout;
  height: 100vh;

  :nth-child(n) {
    position: relative;
    z-index: 1;
  }

  &-top {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url('../../assets/img/backgrounds/pokeball-bg.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .logo{
    display: flex;
    align-items: center;

    &-img {
      margin-right: 2rem;
      rotate: -45deg;
    }

    &-text {
      font-size: $fs-big;
      font-weight: $fw-bold;
    }

  }

  .title {
    font-size: $fs-huge;
    font-weight: $fw-bold;
  }

  .search-bar {
    margin-top: 0rem;
  }

  .section-link:not(:last-child) {
    margin-bottom: 1rem;
  }
  
}

.nav {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bg-white {
  position: absolute;
  bottom: -50%;
  width: 100%;
  height: 50%;
  background-color: $clr-white-400;
  border-radius: 50%;
  scale: 3;
}