<app-layout>
  <section class="home">
    <div class="content">
      <div class="logo">
        <img class="logo-img" src="../../assets/img/icons/pokeball-icon.svg" alt="Pokeball Icon">
        <h4 class="logo-text">Pokedex</h4>
      </div>
      <h1 class="title">Find your favorite Pokemon</h1>
      <div class="search-bar">
        <app-search-bar></app-search-bar>
      </div>
      <div class="section-links">
        <app-section-link
          [text]="'Types'"
          [color]="'green'"
          [icon]="'../../assets/img/icons/pokeball-icon.svg'"></app-section-link>
      </div>
    </div>
    <div class="bg bg-red"></div>
    <div class="bg bg-white"></div>
  </section>
</app-layout>