<app-layout>
  <section class="home">
    <div class="content">
      <div class="logo">
        <img class="logo-img" src="assets/img/icons/pokeball-icon.svg" alt="Pokeball Icon">
        <h4 class="logo-text">Pokedex</h4>
      </div>
      <div class="content-top">
        <h1 class="title">Find your<br/>favorite Pokemon</h1>
        <div class="search-bar">
          <app-search-bar></app-search-bar>
        </div>
      </div>
      <nav class="nav">
        <ul>
          <li *ngFor="let link of sectionLinks" class="section-link">
            <a [routerLink]="link.path">
              <app-section-link
                [text]="link.text"
                [color]="link.color"
                [icon]="link.iconPath"></app-section-link>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="bg-white"></div>
  </section>
</app-layout>