<app-layout>
  <section class="type">
    <div class="content">
      <nav class="nav">
        <a routerLink="..">
          <img 
            class="arrow-left"
            src="../../assets/img/icons/chevron-left.svg" 
            alt="Left arrow icon">         
        </a>
        <h1>{{type | titlecase}} Type</h1>
      </nav>
      <app-search-bar></app-search-bar>
      <div class="spinner-container">
        <app-spinner *ngIf="isLoading; else cardContainer" class="spinner"></app-spinner>
      </div>
      <ng-template #cardContainer>
        <div class="card-container">
          <app-pokemon-card
            *ngFor="let pokemon of pokemonByType"
            [id]="pokemon.id"
            [name]="pokemon.name"
            [imgUrl]="getPokemonSprite(pokemon)"
            [type]="type"></app-pokemon-card>
        </div>
      </ng-template>
    </div>
  </section>
</app-layout>
