@import '../../../../assets/scss';

.content {
  padding: $pd-page-layout;
  height: 100%;
}

.nav {
  display: flex;
  align-items: center;

  .arrow-left {
    margin-right: 3rem;
  }
  h1 {
    font-size: $fs-big;
    font-weight: $fw-bold;
  }
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

