<app-layout>
  <section class="type">
    <div class="content">
      <nav class="nav">
        <a routerLink="..">
          <img 
            class="arrow-left"
            src="../../assets/img/icons/chevron-left.svg" 
            alt="Left arrow icon">         
        </a>
        <h1>{{typeName | titlecase}} Type</h1>
      </nav>
      <app-search-bar></app-search-bar>
      <div class="card-container">
        <app-pokemon-card
          *ngFor="let pokemon of pokemonByType"
          [id]="pokemon.id"
          [name]="pokemon.name"
          [imgUrl]="pokemon.sprites.front_default"></app-pokemon-card>
      </div>
    </div>
  </section>
</app-layout>
